@use "../../feature/lookAndFeel/style-guide" as style;
@use "../../feature/theme/theme" as theme;

.breadcrumb-container {
  display:       none;

  .scrolled-down & {
    display: block;
  }

  position:      fixed;
  top:           54px;
  z-index:       4;
  margin-left:   -0.75rem;
  padding-left:  0.75rem;
  padding-right: 0.75rem;
  max-width:     100%;

  .breadcrumb-list {
    @include theme.property(background, #efefef, #303131);
    @include theme.property(border, 1px solid #ddd, 1px solid #555);
    border-top:                 none !important;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
    padding:                    5px 8px;
    white-space:                nowrap;
    overflow:                   hidden;
    text-overflow:              ellipsis;
    max-width:                  100%;

    .breadcrumb-list-item {
      &:not(:last-child) {
        &:after {
          content:     '/';
          padding:     0 4px;
          color:       style.$green-500;
          font-weight: 600;
        }
      }

      .leaf {
        font-weight: bold;
      }
    }
  }
}
