.job-ad-placeholder {
  font-family: 'Inter Tight', sans-serif;
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
  color: gray;
  border: 3px dashed gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }
}
