{% macro jobAdPlaceholder(banners, size) %}
  <a href="/Praca/redirect?family={{ family }}" target="_blank">
    <div class="job-ad-placeholder {{ size }}">
      {% if size == 'sidebar' %}
        <img src="{{ banners.sidebar }}"/>
      {% endif %}
      {% if size == 'horizontal' %}
        {% for horizontal in banners.horizontal %}
          <img src="{{ horizontal }}"/>
        {% endfor %}
      {% endif %}
    </div>
  </a>
{% endmacro %}
