{% macro jobAdPlaceholder(size) %}
  <div class="job-ad-placeholder {{ size }}">
    Miejsce w którym zostanie wyświetlona reklama od sponsorów 4programmers.
    Placeholder ma charakter poglądowy, ma służyć jako wizualizacja przestrzeni reklamowej.
  </div>
{% endmacro %}
