@use "../../theme/theme" as theme;

.job-ad-placeholder {
  font-family: 'Inter Tight', sans-serif;
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include theme.light {
    border: 2px dashed #d3d3d370;
  }

  @include theme.dark {
    border: 2px dashed #6c757d14;
  }
  
  img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }
}
