.card-tile {
  padding:       12px;
  border:        1px solid lightGray;
  border-radius: 8px;
}

.button {
  border:        1px solid lightGray;
  border-radius: 4px;
}

.job-offer-company-logo-placeholder,
.salary,
.tag,
.badge {
  padding:       0 4px;
  border:        1px solid lightGray;
  border-radius: 8px;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src:         local('Inter Regular'), url(../font/inter/regular-400.ttf) format('truetype');
}

