.card-tile {
  padding:       12px;
  border:        1px solid lightGray;
  border-radius: 8px;
  margin-bottom: 4px;
}

.badge {
  padding:       0 4px;
  border:        1px solid lightGray;
  border-radius: 8px;
}

.tag {
  padding:       0 4px;
  border:        1px solid lightGray;
  border-radius: 8px;
}
